body,
.content {
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    min-height: 100vh;
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

.content-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    min-height: 50vh;
}